<div class="sidebar">
    <mat-nav-list>

        <h2 matSubheader>Pages</h2>
    
        <a *ngIf="isAdmin" mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/admin/all-users" (click)="toggleSideBar()">Users List</a>
        <a *ngIf="isAdmin" mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/admin/user-requests" (click)="toggleSideBar()">User Requests</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" (click)="toggleSideBar()">Dummy</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" (click)="toggleSideBar()">Dummy</a>
    
        <mat-divider></mat-divider>

        <button class="header-btn" mat-menu-item  (click)="logout()" (click)="toggleSideBar()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="text">Logout</span>
        </button>
    
    </mat-nav-list>
</div>